* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5EF;
}
a {
    text-decoration: none;
}
.container-default {
    max-width: 1140px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 600;
}
.cta-button {
    padding: 0.6em 1em;
    background-color: #3F1D0B;
    color: #FFF;
}
.light-logo {
    color: #D9CAC1;
    font-weight: 600;
}