* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5EF;
}
a {
    text-decoration: none;
}
.container-default {
    max-width: 1140px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}