.hero-section {
    padding: 10% 0;
}
.hero-section .hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hero-section .hero-wrapper .text-part .intro-description {
    color: #261F1B;
    opacity: 0.6;
    margin-bottom: 16px;
}
.hero-section .hero-wrapper .image-part {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1200px) {
    .hero-section .hero-wrapper {
        flex-direction: column;
        align-items: center;
    } 
    .hero-section .hero-wrapper .text-part {
        text-align: center;
        margin-bottom: 5%;
    }
}