/* Hero section start*/
.hero-section {
    padding: 10% 0;
}
.hero-section .hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hero-section .hero-wrapper .text-part .intro-description {
    color: #261F1B;
    opacity: 0.6;
    margin-bottom: 16px;
}
.hero-section .hero-wrapper .image-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation for image*/
.hero-section .hero-wrapper .image-part img.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}
/* Animation for text slide */
.hero-section .hero-wrapper .text-part {
    animation-name: fade-text;
    animation-duration: 2s;
}
/* Hero section end*/

/*--------------------------------------------------------------------*/

/* About us section start */
.about-us .about-us-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .about-us-wrapper img {
    width: 60%;
}
.about-us .about-us-wrapper .about-us-text {
    padding: 1.5em 1.5em 4em 1.5em;
    background-color: #3F1D0B;
    margin-left: -5px;
}
.about-us .about-us-wrapper .about-us-text h2,
.about-us .about-us-wrapper .about-us-text .text {
    color: #FFF5EF;
}
.about-us .about-us-wrapper .about-us-text .text {
    margin-bottom: 12px;
}
/* About us section end */

/* Our work section start */
.our-work {
    text-align: center;
    padding: 5% 0;
}
.our-work h2 {
    color: #261F1B;
}
.our-work .info-text {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6em;
    font-weight: 300;
}
.our-work .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2em 0;
}
.our-work .cards-wrapper .single-card {
    border: 1px solid #3F1D0B;
    padding: 24px 24px 48px 24px;
}
.our-work .cards-wrapper .single-card.brown-card {
    background-color: #3F1D0B;
    color: #FFF5EF;
}
.our-work .cards-wrapper .single-card .image-wrapper {
    border: 1px solid #3F1D0B;
    padding: 12px;
}
.our-work .cards-wrapper .single-card.brown-card .image-wrapper {
    border-color: #FFF5EF;
}
.our-work .cards-wrapper .single-card .image-wrapper img {
    object-fit: cover;
}
.our-work .cards-wrapper .single-card .description {
    font-size: 0.9em;
    opacity: 0.6;
}
/* Our work section end */

/* Contact section start */
.contact-section {
    background-color: #3F1D0B;
    color: #FFF5EF;
    padding: 5% 0;
    text-align: center;
}
.contact-section .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-wrapper > div {
    flex-basis: 33.33%;
}
.contact-section .contact-wrapper .contact-block p {
    margin-bottom: 1em;   
}
.contact-section .contact-wrapper .contact-block .icon img {
    position: relative;
    top: 4px;
    right: 8px;
}
.contact-section .contact-wrapper .activity-block p {
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
/* Contact section end */


/*--------------------------------------------------------------------*/

/* Animations start */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
       }

    100% {
        opacity: 1;
        transform: translateY(0);
        }
}
@keyframes fade-text {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Animations end */

/*--------------------------------------------------------------------*/

/* Media queries start */
@media (max-width: 1400px) {
    .our-work .cards-wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px) {
    .hero-section .hero-wrapper,
    .about-us .about-us-wrapper {
        flex-direction: column;
        align-items: center;
    } 
    .hero-section .hero-wrapper .text-part {
        text-align: center;
        margin-bottom: 5%;
    }
    .about-us .about-us-wrapper .about-us-text {
        max-width: 600px;
        text-align: center;
        margin-top: -2px;
    }
}
@media (max-width: 1024px) {
    .contact-section .contact-wrapper {
        flex-direction: column;
        gap: 1em;
    }
    .contact-section .contact-wrapper .logo-block {
        max-width: 450px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.25em;
    }
    .hero-section {
        padding: 10% 5%;
    }
    .hero-section .hero-wrapper .text-part .intro-description {
        max-width: 450px;
        margin: 1em auto;
        font-size: 0.8em;
    }
    .hero-section .hero-wrapper .text-part .contact-btn-wrapper {
        margin-top: 2em;
    }
    .hero-section .hero-wrapper .image-part {
        width: 55%;
        margin-top: 2em;
    }
    .hero-section .hero-wrapper .image-part img {
        width: 80%;
    }
    .about-us .about-us-wrapper .about-us-text {
        width: 100%;
        margin: 0 auto;
    }
}
/* Media queries end */