* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFF5EF;
}

a {
  text-decoration: none;
}

.container-default {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
}

.cta-button {
  padding: 0.6em 1em;
  background-color: #3F1D0B;
  color: #FFF;
}

.light-logo {
  color: #D9CAC1;
  font-weight: 600;
  margin-bottom: 2px;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6em 0;
  font-weight: 500;
  color: #261F1B;
  border-bottom: 1px solid #261F1B;
}

.navigation-wrapper .logo-wrapper {
  font-size: 1.5em;
}

.desktop-navigation-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

.desktop-navigation-links ul li a {
  font-size: 1.25em;
  color: #261F1B;
}

.hamburger-menu-wrapper {
  display: none;
}

.mobile-navigation-links {
  position: fixed;
  right: -100%;
  top: 78px;
  transition: 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.mobile-navigation-links.active {
  right: 0;
  background-color: #261F1B;
}

.mobile-navigation-links ul li {
  padding: 28px;
  border-bottom-color: #261F1B;
}

.mobile-navigation-links ul li:hover {
  border-bottom: 1px solid #FFF5EF;
}

.mobile-navigation-links ul li a {
  color: #FFF5EF;
}

@media (max-width: 992px) {
  .navigation-wrapper {
    padding: 1.6em;
  }
  .navigation-wrapper .cta-button,
  .desktop-navigation-links {
    display: none;
  }
  .hamburger-menu-wrapper {
    margin-top: 5px;
    display: block;
    width: 35px;
    position: relative;
  }
  .hamburger-menu-wrapper span {
    display: block;
    height: 2px;
    border-radius: 5%;
    background-color: #261F1B;
    width: 100%;
    margin-bottom: 7px;
  }
  .hamburger-menu-wrapper span.active:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
  }
  .hamburger-menu-wrapper span.active:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu-wrapper span.active:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -8px);
    position: absolute;
  }
  .navigation-wrapper .logo-wrapper {
    font-size: 1.2em;
  }
  .hamburger-menu-wrapper span,
  .hamburger-menu-wrapper span.active {
    transition: 0.3s ease-in-out;
  }
}
.hero-section {
  padding: 10% 0;
}

.hero-section .hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-section .hero-wrapper .text-part .intro-description {
  color: #261F1B;
  opacity: 0.6;
  margin-bottom: 16px;
}

.hero-section .hero-wrapper .image-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .hero-section .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .hero-section .hero-wrapper .text-part {
    text-align: center;
    margin-bottom: 5%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.25em;
  }
  .hero-section {
    padding: 10% 5%;
  }
  .hero-section .hero-wrapper .text-part .intro-description {
    max-width: 450px;
    margin: 1em auto;
    font-size: 0.8em;
  }
  .hero-section .hero-wrapper .text-part .contact-btn-wrapper {
    margin-top: 2em;
  }
  .hero-section .hero-wrapper .image-part {
    width: 55%;
    margin-top: 2em;
  }
  .hero-section .hero-wrapper .image-part img {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */